.latest_news {
    padding: 2em 0;
    background-image: url('./../../../assets/images/latest.png');
    background-position: top right;
    background-repeat: no-repeat;
    .titles {
        h6 {
            color: #5E6282;
            font-weight: 600;
            margin-bottom: 1em;
        }
        h1 {
            color: #14183E;
            font-weight: 700;
            margin-bottom: 1em;
        }
    }
    .categories {
        .cats_list {
            list-style: none;
            padding: 0;
            display: inline-flex;
            li {
                margin: 0.5em 1em;
                width: 8em;
                padding: 0.4em;
                background-color: #E3E3E3;
                color: #1f3f4d;
                border-radius: 10px;
                cursor: pointer;
                &.all_news {
                    background-color: #0ECEFF;
                    color: #fff;
                }
            }
        }
        @media (max-width:768px) {
            overflow-x: scroll;
        }
    }
    .view_all {
        background-color: #FF7C16;
        color: #fff;
        width: 80%;
        font-size: 1em;
        font-weight: 300;
        height: 3em;
        border-radius: 12px;
        margin: 1em 0;
    }
}