.news_details{
    img{
        width: 100%;
    }
    h2{
        padding-top: 1em;
        color: #0ECEFF;
    }
    .date {
        color: #707070;
        font-size: 0.9em;
        i {
            color: #0ECEFF;
        }
    }
    .content{
        color: #a1a1a1;
        font-size: 0.8em;
        padding: 1em;
    }
}