.main_footer {
    background: rgb(255, 252, 252);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 90%, rgba(213, 174, 228, 1) 100%);
    .footer_info {
        img {
            width: 50%;
        }
        .footer_text {
            font-size: 0.9em;
            margin: 1em 0.5em;
        }
    }
    h5 {
        font-weight: 700;
    }
    .footer_list {
        list-style: none;
        padding: 0;
        li {
            color: #5E6282;
            font-weight: 500;
            margin: 0.5em 0;
        }
    }
    .social_info {
        .social_list {
            list-style: none;
            display: inline-flex;
            padding: 0;
            li {
                background-color: #fff;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                box-shadow: 0px 2px 20px #0000001A;
                margin: 1em;
                padding: 0.5em;
                text-align: center;
            }
        }
        h5 {
            margin-left: 1em;
            color: #5E6282;
            font-weight: 500;
        }
        .apps_logos {
            list-style: none;
            display: inline-flex;
            padding: 0;
            li {
                margin: 0.5em;
                img {
                    width: 100%;
                }
            }
        }
    }
    .copy_right {
        color: #5E6282;
        font-weight: 400;
    }
}