<footer class="main_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer_info">
                    <img src="assets/images/nav_logo.png" alt="Footer Logo">
                    <p class="footer_text">
                        We make technology produce productive, adaptable and sustainable business experiences.
                    </p>
                </div>
            </div>
            <div class="col-md-2 col-4">
                <h5>Company</h5>
                <ul class="footer_list">
                    <li>About</li>
                    <li>Careers</li>
                    <li>Mobile</li>
                </ul>
            </div>
            <div class="col-md-2 col-4">
                <h5>Contact</h5>
                <ul class="footer_list">
                    <li>Help/FAQ</li>
                    <li>Press</li>
                    <li>Affilates</li>
                </ul>
            </div>
            <div class="col-md-2 col-4">
                <h5>Media</h5>
                <ul class="footer_list">
                    <li>News</li>
                    <li>Photo</li>
                    <li>Video</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="social_info">
                    <ul class="social_list">
                        <li>
                            <i class="fa-brands fa-facebook-f"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-instagram"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-twitter"></i>
                        </li>
                    </ul>
                    <h5>Discover our app</h5>
                    <ul class="apps_logos">
                        <li>
                            <img src="assets/images/google-play.png" alt="Google Play">
                        </li>
                        <li>
                            <img src="assets/images/app-store.jpg" alt="App Store">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="copy_right">All rights reserved@Linkdevelopment.com</p>
            </div>
        </div>
    </div>
</footer>