.main_navbar {
    background-color: #fff;
    .navbar-toggler{
        border-color: #A6E51C;
        color: #A6E51C;
        z-index: 2;
        &:hover{
            background-color: #A6E51C;
            color: #fff;
        }
        &:focus{
            box-shadow: none;
        }
    }
    .navbar-nav {
        .nav-item {
            padding: 0 1rem;
            .nav-link {
                color: #000;
                &.navigate{
                    cursor: pointer;
                }
            }
        }
        .select_lang {
            border: 0;
            &:focus {
                box-shadow: none;
            }
        }
        &.right_nav{
            @media (max-width:768px) {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}