<nav class="navbar navbar-expand-lg main_navbar">
  <div class="container">
    <img src="assets/images/nav_logo.png" alt="Link Development">
    <button class="navbar-toggler btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars-staggered"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">About us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact us</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-dark">Sign up</button>
        </li>
        <li class="nav-item">
          <select class="form-select select_lang" aria-label="Default select example">
            <option selected>En</option>
            <option value="1">AR</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</nav>